.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  z-index: 10;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.nav-item-link {
  text-decoration: none;
  color: #292929;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-logo-wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  width: 260px;
}

.nav-logo {
  font-weight: 500;
  text-decoration: none;
  color: #292929;
  font-size: 24px;
  text-transform: uppercase;
}

