.card-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-height: 400px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
}

.card-wrapper:hover {
  border: 0.5px solid rgba(41,41,41,0.4);
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  max-width: 199px;
  /* min-height: 399px; */
}

.add_cont {
  display: none;
  flex-direction: column;
}

.card-wrapper:hover .add_cont {
  display: flex;
}

.card-box-img {
  height: 150px;
  width: 100%;
  position: relative;
}

.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-title {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.card-description {
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #292929;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.card-price {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.counter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.counter_input-fild {
  border-style: none;
  border-top: 0.5px solid rgba(41,41,41,0.4);
  text-align: center;
  height: 30px;
  padding: 0;
}

.minus {
  border-style: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  /* position: relative; */
  border-top: 0.5px solid rgba(41,41,41,0.4);
  border-left: 0.5px solid rgba(41,41,41,0.4);
  padding: 0;
  margin: 0;
}

/* .minus:hover {
  opacity: 0;
} */

/* .minus::after {
  content: " ";
  position: absolute;
  display: block;
  background-color:grey;
  height: 1px;
  margin-top: -5px;
  top: 17px;
  left: 5px;
  right: 5px;
  z-index: 2;
} */

.plus {
  border-style: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  /* position: relative; */
  border-top: 0.5px solid rgba(41,41,41,0.4);
  border-right: 0.5px solid rgba(41,41,41,0.4);
  padding: 0;
  margin: 0;
}

/* .plus::after {
  content: " ";
  position: absolute;
  display: block;
  background-color:grey;
  height: 1px;
  top: 14px;
  left: 5px;
  right: 5px;
  z-index: 2;
}

.plus::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: grey;
  width: 1px;
  left: 14px;
  top: 5px;
  bottom: 5px;
  z-index: 2;
} */

.card-btns {
  width: 100%;
  border-style: none;
  border: none;
  background-color: #292929;
  color: #ffffff;
  height: 44px;
  text-transform: uppercase;
  font-weight: 300;
}
